#buy-tickets {
    //When we have bought anythig yet
    display: none;
    height: 100vh;
    //margin-top: 50px;

    #buy-orange-bar {
        background-image: linear-gradient(to right, #e68332, #fe4800);
        height: 70px;
        color: whitesmoke;
        font-size: 1.2em;
        font-weight: 400;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        gap: 90px;

        // .chevron {
        //     width: 20px;
        //     height: 20px;
        //     margin: 0 0 10px -100px;
        // }

        .cross {
            width: 15px;
            height: 15px;
            margin: 0 0 10px -100px;
        }

        h2 {
            padding: 10px;
            font-weight: 500;
            font-size: 1em;
        }

    }

    #buy-tickets-parent {

        //When no ticket are selected
        //gap: 350px;

        //When tickets are selected
        gap: 300px;

        display: flex;
        flex-direction: column;




        #terms-conditions {
            padding: 30px;

            //When no tickets are selected
            display: none;


            #terms-conditions-container-one {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 40px;
                height: 45px;
                width: 90%;
                border-bottom: 3px dotted rgba(104, 97, 97, 0.445);
                font-weight: 600;

            }

            #terms-conditions-container-two {
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 70px;
                width: 90%;
                gap: 70px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.7em;
                margin-left: -20px;
            }


            #conditions {
                width: 90%;
                font-size: 0.6em;
                font-weight: 600;

                #terms:checked {
                    accent-color: black;

                }

                .fake-link {
                    color: rgba(25, 25, 219, 0.685);
                    text-decoration: underline;
                }


            }
        }
    }

    #child-one {
        //When ticket are selected
        //display: none;

        #single-ticket {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 10px;

            border-bottom: 2px solid rgba(104, 97, 97, 0.726);
            height: 100px;

            img {
                height: 30px;
            }

            .single-buy-title {
                font-size: 0.9em;
                font-weight: 500;
                text-transform: uppercase;
            }

            span {
                font-size: 0.7em;
                color: rgba(104, 97, 97, 0.726);
            }
        }

        .single-ticket-counter-parent {
            margin-left: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 100px;


            .single-ticket-counter {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5px;
                margin-left: 20px;

                button {
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                }

                #minus-btn {
                    background-color: white;
                    color: rgba(104, 97, 97, 0.726);
                }

                #plus-btn {
                    background-color: #fe4800;
                    color: white;
                    //border: none;
                }
            }

            #single-price {
                background-color: rgba(104, 97, 97, 0.288);
                height: 20px;
                border-radius: 5px;
                width: 32px;
                margin-left: 20px;
            }

            span {
                margin-left: 20px;

            }

        }

        // Multiple tickets
        #multi-ticket {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 10px;
            border-bottom: 2px solid rgba(104, 97, 97, 0.726);
            height: 100px;

            img {
                height: 30px;
            }

            .multi-buy-title {
                font-size: 0.9em;
                font-weight: 500;
                text-transform: uppercase;
            }

            span {
                font-size: 0.7em;
                color: rgba(104, 97, 97, 0.726);
            }
        }

        .multi-ticket-counter-parent {


            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 100px;

            .multi-ticket-counter {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: center;

                button {
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                }

                #multi-minus-btn {
                    background-color: white;
                    color: rgba(104, 97, 97, 0.726);
                }

                #multi-plus-btn {
                    background-color: #fe4800;
                    color: white;

                }


            }

            #multi-price {
                background-color: rgba(104, 97, 97, 0.288);
                height: 20px;
                width: 30px;
                border-radius: 5px;


            }
        }
    }
}

#child-two {
    display: none;

    #total-container {

        box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        #total-tickets {
            margin-left: 150px;
            font-weight: 200;

            span {
                font-weight: 500;
            }



        }

        #select-buy {
            background-color: #fe3b00;
            border-radius: 10px;
            display: inline-block;
            height: 52px;
            width: 90%;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: 400;
            padding: 10px 0;
            border: none;

        }


    }

}

@media screen and (min-width:600px) {
    #buy-tickets {
        display: none;

    }
}