#welcome-page {
    background-color: rgb(104, 97, 97);
    background-color: rgb(104, 97, 97);

    #welcome-page-container {
        background-color: white;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 100px;
        height: 100vh;
    }

    #desktop-only-container {

        display: none;
    }
}

@media screen and (min-width:600px) {
    #welcome-page {
        background-color: white;

        #welcome-page-container {
            display: none;
        }

        #desktop-only-container {
            color: rgb(104, 97, 97);
            padding: 2em;
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3em;


            #dinosaur {
                width: 150px;
                height: 150px;
            }

            .detail-link {
                color: rgb(104, 97, 97);
            }

            .detail-link::after {
                color: rgb(104, 97, 97);
            }
        }
    }
}