#buy-tickets {
  display: none;
  height: 100vh;
}
#buy-tickets #buy-orange-bar {
  background-image: linear-gradient(to right, #e68332, #fe4800);
  height: 70px;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 90px;
}
#buy-tickets #buy-orange-bar .cross {
  width: 15px;
  height: 15px;
  margin: 0 0 10px -100px;
}
#buy-tickets #buy-orange-bar h2 {
  padding: 10px;
  font-weight: 500;
  font-size: 1em;
}
#buy-tickets #buy-tickets-parent {
  gap: 300px;
  display: flex;
  flex-direction: column;
}
#buy-tickets #buy-tickets-parent #terms-conditions {
  padding: 30px;
  display: none;
}
#buy-tickets #buy-tickets-parent #terms-conditions #terms-conditions-container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  height: 45px;
  width: 90%;
  border-bottom: 3px dotted rgba(104, 97, 97, 0.445);
  font-weight: 600;
}
#buy-tickets #buy-tickets-parent #terms-conditions #terms-conditions-container-two {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  width: 90%;
  gap: 70px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  margin-left: -20px;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions {
  width: 90%;
  font-size: 0.6em;
  font-weight: 600;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions #terms:checked {
  accent-color: black;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions a {
  color: rgba(25, 25, 219, 0.685);
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions a::after {
  color: rgba(25, 25, 219, 0.685);
}
#buy-tickets #child-one #single-ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 97, 97, 0.726);
  height: 100px;
}
#buy-tickets #child-one #single-ticket img {
  height: 30px;
}
#buy-tickets #child-one #single-ticket .single-buy-title {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}
#buy-tickets #child-one #single-ticket span {
  font-size: 0.7em;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .single-ticket-counter-parent {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100px;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter #minus-btn {
  background-color: white;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter #plus-btn {
  background-color: #fe4800;
  color: white;
}
#buy-tickets #child-one .single-ticket-counter-parent #single-price {
  background-color: rgba(104, 97, 97, 0.288);
  height: 20px;
  border-radius: 5px;
  width: 32px;
}
#buy-tickets #child-one #multi-ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 97, 97, 0.726);
  height: 100px;
}
#buy-tickets #child-one #multi-ticket img {
  height: 30px;
}
#buy-tickets #child-one #multi-ticket .multi-buy-title {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}
#buy-tickets #child-one #multi-ticket span {
  font-size: 0.7em;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .multi-ticket-counter-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100px;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter #multi-minus-btn {
  background-color: white;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter #multi-plus-btn {
  background-color: #fe4800;
  color: white;
}
#buy-tickets #child-one .multi-ticket-counter-parent #multi-price {
  background-color: rgba(104, 97, 97, 0.288);
  height: 20px;
  width: 30px;
  border-radius: 5px;
}

#child-two {
  display: none;
}
#child-two #total-container {
  border-top: 3px solid rgba(104, 97, 97, 0.568);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#child-two #total-container #total-tickets {
  margin-left: 150px;
  font-weight: 200;
}
#child-two #total-container #total-tickets span {
  font-weight: 500;
}
#child-two #total-container #select-buy {
  background-color: #fe3b00;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding-top: 10px;
}

@media screen and (min-width: 400px) {
  #buy-tickets {
    display: none;
  }
}/*# sourceMappingURL=buy-page.css.map */