#welcome-page {
  background-color: rgb(104, 97, 97);
  background-color: rgb(104, 97, 97);
}
#welcome-page #welcome-page-container {
  background-color: white;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
  height: 100vh;
}
#welcome-page #desktop-only-container {
  display: none;
}

@media screen and (min-width: 400px) {
  #welcome-page {
    background-color: white;
  }
  #welcome-page #welcome-page-container {
    display: none;
  }
  #welcome-page #desktop-only-container {
    color: rgb(104, 97, 97);
    padding: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
  }
  #welcome-page #desktop-only-container #dinosaur {
    width: 150px;
    height: 150px;
  }
  #welcome-page #desktop-only-container .detail-link {
    color: rgb(104, 97, 97);
  }
  #welcome-page #desktop-only-container .detail-link::after {
    color: rgb(104, 97, 97);
  }
}
#e-tickets {
  height: 100vh;
}
#e-tickets #ticket-orange-bar {
  background-image: linear-gradient(to right, #e68332, #fe4800);
  height: 70px;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}
#e-tickets #ticket-orange-bar h2 {
  padding: 0.1em;
  font-weight: 300;
}
#e-tickets #with-tickets {
  padding: 1em;
  display: none;
}
#e-tickets #with-tickets .with-tickets-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}
#e-tickets #with-tickets #with-tickets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
#e-tickets #with-tickets #with-tickets-container p {
  padding: 5px;
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
}
#e-tickets #no-tickets {
  margin: 200px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}
#e-tickets #no-tickets .no-tickets-title {
  font-weight: 500;
  font-size: 1.5em;
  padding: 1em;
}
#e-tickets #buy-link {
  background-color: #fe3b00;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 80%;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin: 0px 0 160px 40px;
}
#e-tickets #buy-link .with-tickets-shop-cart {
  width: 20px;
  height: 20px;
  margin: 5px 5px 0 0;
}
#e-tickets #navigation {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  border-top: 2px solid rgba(104, 97, 97, 0.726);
  height: 50px;
}
#e-tickets #navigation a {
  font-size: 0.6em;
  color: rgba(104, 97, 97, 0.726);
  text-decoration: none;
}
#e-tickets #navigation a::after {
  color: rgba(104, 97, 97, 0.726);
}
#e-tickets .orange-fig-caption {
  color: #fe3b00;
}
#e-tickets .orange-fig-caption::after {
  color: #fe3b00;
}

@media screen and (min-width: 400px) {
  #e-tickets {
    display: none;
  }
}
#buy-tickets {
  height: 100vh;
  margin-top: 50px;
}
#buy-tickets #buy-orange-bar {
  background-image: linear-gradient(to right, #e68332, #fe4800);
  height: 70px;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 90px;
}
#buy-tickets #buy-orange-bar .cross {
  width: 15px;
  height: 15px;
  margin: 0 0 10px -100px;
}
#buy-tickets #buy-orange-bar h2 {
  padding: 0.1em;
  font-weight: 300;
}
#buy-tickets #buy-tickets-parent {
  gap: 350px;
  display: flex;
  flex-direction: column;
}
#buy-tickets #buy-tickets-parent #terms-conditions {
  padding: 30px;
  display: none;
}
#buy-tickets #buy-tickets-parent #terms-conditions #terms-conditions-container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  height: 45px;
  width: 90%;
  border-bottom: 3px dotted rgba(104, 97, 97, 0.445);
  font-weight: 600;
}
#buy-tickets #buy-tickets-parent #terms-conditions #terms-conditions-container-two {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  width: 90%;
  gap: 70px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  margin-left: -20px;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions {
  width: 90%;
  font-size: 0.6em;
  font-weight: 600;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions #terms:checked {
  accent-color: black;
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions a {
  color: rgba(25, 25, 219, 0.685);
}
#buy-tickets #buy-tickets-parent #terms-conditions #conditions a::after {
  color: rgba(25, 25, 219, 0.685);
}
#buy-tickets #child-one #single-ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 97, 97, 0.726);
  height: 100px;
}
#buy-tickets #child-one #single-ticket img {
  height: 30px;
}
#buy-tickets #child-one #single-ticket .single-buy-title {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}
#buy-tickets #child-one #single-ticket span {
  font-size: 0.7em;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .single-ticket-counter-parent {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100px;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter #minus-btn {
  background-color: white;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .single-ticket-counter-parent .single-ticket-counter #plus-btn {
  background-color: #fe4800;
  color: white;
}
#buy-tickets #child-one .single-ticket-counter-parent #single-price {
  background-color: rgba(104, 97, 97, 0.288);
  height: 20px;
  border-radius: 5px;
  width: 32px;
}
#buy-tickets #child-one #multi-ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 97, 97, 0.726);
  height: 100px;
}
#buy-tickets #child-one #multi-ticket img {
  height: 30px;
}
#buy-tickets #child-one #multi-ticket .multi-buy-title {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}
#buy-tickets #child-one #multi-ticket span {
  font-size: 0.7em;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .multi-ticket-counter-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100px;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter #multi-minus-btn {
  background-color: white;
  color: rgba(104, 97, 97, 0.726);
}
#buy-tickets #child-one .multi-ticket-counter-parent .multi-ticket-counter #multi-plus-btn {
  background-color: #fe4800;
  color: white;
}
#buy-tickets #child-one .multi-ticket-counter-parent #multi-price {
  background-color: rgba(104, 97, 97, 0.288);
  height: 20px;
  width: 30px;
  border-radius: 5px;
}

#child-two #total-container {
  border-top: 3px solid rgba(104, 97, 97, 0.568);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#child-two #total-container #total-tickets {
  margin-left: 150px;
  font-weight: 200;
}
#child-two #total-container #total-tickets span {
  font-weight: 500;
}
#child-two #total-container #select-buy {
  background-color: #fe3b00;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding-top: 10px;
}

@media screen and (min-width: 400px) {
  #buy-tickets {
    display: none;
  }
}
#payment {
  height: 100vh;
  margin-top: 50px;
}
#payment #payment-orange-bar {
  background-image: linear-gradient(to right, #e68332, #fe4800);
  height: 70px;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 90px;
}
#payment #payment-orange-bar .chevron {
  width: 20px;
  height: 20px;
  margin: 0 0 10px -100px;
}
#payment #payment-orange-bar h2 {
  padding: 0.1em;
  font-weight: 300;
}
#payment #logo-language-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #f5f5f5;
}
#payment #logo-language-container #language-button {
  background-color: #424242;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 200;
}
#payment #logo-language-container #total-pay {
  background-color: white;
  color: #7e7e7e;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  height: 50px;
  width: 100%;
}
#payment #logo-language-container #total-pay .down-arrow {
  width: 30px;
  height: 30px;
  margin-right: -50px;
}
#payment .card-number {
  border: 1px solid red;
  color: #7e7e7e;
  font-weight: 500;
  margin-left: 25px;
}
#payment #card-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
#payment #card-info #card {
  width: 230px;
  border-color: rgba(126, 126, 126, 0.6235294118);
  background-color: #f1f1f1;
}
#payment #card-info .card-logo {
  border-color: #7e7e7e;
  width: 50px;
  height: 30px;
}

@media screen and (min-width: 400px) {
  #payment {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  #accepted {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
}/*# sourceMappingURL=styles.css.map */